{{!< default}}
{{#contentFor 'title'}}View{{/contentFor}}
{{#contentFor 'sidenav'}}
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#overview" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Overview</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#configuration" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Configuration</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#syntax" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Syntax</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#layout" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Layout</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#comparison-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Comparison Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#html-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">HTML Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#object-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Object Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#string-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">String Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#date-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Date Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#number-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Number Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
<!--begin::Item-->
<li class="menu-item py-2 px-3">
  <!--begin::Link-->
  <a href="#math-helper" data-kt-scroll-toggle="true" class="menu-link p-0 nav-link">
    <span class="menu-bullet">
      <span class="bullet bullet-dot"></span>
    </span>
    <span class="menu-title">Math Helper</span>
  </a>
  <!--end::Link-->
</li>
<!--end::Item-->
{{/contentFor}}
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="overview" data-kt-scroll-offset="100">
    <a href="#overview"></a>View
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    Express Sweet uses Handlebars as its view template engine.<br>
    This section describes the basic usage of the view on Express Sweet.<br>
    See the <a href="https://handlebarsjs.com/guide/" target="_blank">here</a> for more information on how to use Handlebars.
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="configuration" data-kt-scroll-offset="100">
    <a href="#configuration"></a>Configuration
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">
    The view (template engine) configuration is defined in the <code>config/view.js</code> file.
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="py-5">
    <!--begin::Notice-->
    <div class="notice d-flex align-items-center bg-light-primary rounded min-w-lg-600px flex-shrink-0 p-6">
      <!--begin::Icon-->
      <i class="ki-duotone ki-information-3 fs-2tx text-primary me-4">
        <span class="path1"></span><span class="path2"></span><span class="path3"></span>
      </i>
      <!--end::Icon-->
      <!--begin::Description-->
      <div class="text-gray-700 fw-bold fs-6">
        Click <a href="download/templates/esm/view.js" class="fw-semibold" download="view.js">here</a> to download a sample <span class="fw-bolder">ESM</span> configuration and<br>
        <a href="download/templates/cjs/view.js" class="fw-semibold" download="view.js">here</a> to download a sample <span class="fw-bolder">CJS</span> configuration.
      </div>
      <!--end::Description-->
    </div>
    <!--end::Notice-->
  </div>
  <!--end::Block-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Heading-->
    <div class="fs-2 py-5">Explanation of Values</div>
    <!--end::Heading-->
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Name Config</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>views_dir: string</code></td>
            <td>The directory path where the view will be placed.<br>The default is the <code>views</code> directory directly under the application root.</td>
          </tr>
          <tr>
            <td><code>partials_dir: string</code></td>
            <td>
              The directory path where the reusable templates are located.<br>
              The default is the <code>views/partials</code> directory directly under the application root.<br>
              Reusable templates are automatically loaded when you launch the Express Sweet application and can be called from other templates.
            </td>
          </tr>
          <tr>
            <td><code>layouts_dir: string</code></td>
            <td>The directory path where the reusable base template is located.<br>The default is the <code>views/layout</code> directory directly under the application root.</td>
          </tr>
          <tr>
            <td><code>default_layout: string</code></td>
            <td>
              The path to the layout file used by default.<br>
              The default is the <code>views/layout/default.*</code> File directly under the application root.<br>
              The extension of the default layout file is replaced with the extension specified by <code>extension</code>.
            </td>
          </tr>
          <tr>
            <td><code>extension: string</code></td>
            <td>Extension for templates and partials files.<br>The default is <code>.hbs</code>.</td>
          </tr>
          <tr>
            <td><code>beforeRender: (req: express.Request, res: express.Response) =&gt; Promise&lt;void&gt;|void</code></td>
            <td>
              Hook function just before the view is rendered.<br>
              For example, you can set your own local variables that can be used within the view.
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">beforeRender: (req, res) =&gt; {
  res.locals.extra = &#039;Extra&#039;;
}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="syntax" data-kt-scroll-offset="100">
    <a href="#syntax"></a>Syntax
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">To mark where layout should insert page.</div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript"><code class="language-javascript">\{{{body}}}</code></pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
  <!--begin::Block-->
  <div class="py-5">To declare a block placeholder in layout.</div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript"><code class="language-javascript">\{{{block "script"}}}</code></pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
  <!--begin::Block-->
  <div class="py-5">To define block content in a page.</div>
  <!--end::Block-->
  <!--begin::Code-->
  <div class="py-5">
    <!--begin::Highlight-->
    <div class="highlight">
      <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
      <div class="highlight-code">
        <pre class="language-javascript"><code class="language-javascript">\{{#contentFor "script"}}
  CONTENT HERE
\{{/contentFor}}</code></pre>
      </div>
    </div>
    <!--end::Highlight-->
  </div>
  <!--end::Code-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="layout" data-kt-scroll-offset="100">
    <a href="#layout"></a>Layout
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="py-5">There are three ways to use a layout, listed in precedence order.</div>
  <!--end::Block-->
  <!--begin::List-->
  <ol class="py-5">
    <li class="py-2">
      Declarative within a page. Use handlebars comment.
      <!--begin::Code-->
      <div class="pt-3">
        <!--begin::Highlight-->
        <div class="highlight">
          <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">\{{!&lt; LAYOUT}}</code></pre>
          </div>
        </div>
        <!--end::Highlight-->
      </div>
      <!--end::Code-->
      Layout file resolution.
      <!--begin::Code-->
      <div class="pt-3">
        <!--begin::Highlight-->
        <div class="highlight">
          <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">If path starts with &#039;.&#039;
  LAYOUT is relative to template
Else If `layoutsDir` is set
  LAYOUT is relative to `layoutsDir`
Else
  LAYOUT from path.resolve(dirname(template), LAYOUT)</code></pre>
          </div>
        </div>
        <!--end::Highlight-->
      </div>
      <!--end::Code-->
    </li>
    <li class="py-2">
      As an option to render.
      <!--begin::Block-->
      <div class="py-5">
        <!--begin::Notice-->
        <div class="notice d-flex align-items-center bg-light-primary rounded min-w-lg-600px flex-shrink-0 p-6">
          <!--begin::Icon-->
          <i class="ki-duotone ki-information-3 fs-2tx text-primary me-4">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span>
          </i>
          <!--end::Icon-->
          <!--begin::Description-->
          <div class="text-gray-700 fw-bold fs-6">
            This creates a potential security vulnerability.
          </div>
          <!--end::Description-->
        </div>
        <!--end::Notice-->
      </div>
      <!--end::Block-->
      Do not use this option in conjunction with passing user submitted data to res.<br>
      render e.g. res.render(&#039;index&#039;, req.query).<br>
      This allows users to read arbitrary files from your filesystem.
      <!--begin::Code-->
      <div class="py-3">
        <!--begin::Highlight-->
        <div class="highlight">
          <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">res.render(&#039;veggies&#039;, {
  title: &#039;My favorite veggies&#039;,
  veggies: veggies,
  layout: &#039;layout/veggie&#039;
});</code></pre>
          </div>
        </div>
        <!--end::Highlight-->
      </div>
      <!--end::Code-->
      This option also allows for layout suppression (both the default layout and when specified declaratively in a page) by passing in a falsey Javascript value as the value of the layout property.
      <!--begin::Code-->
      <div class="py-3">
        <!--begin::Highlight-->
        <div class="highlight">
          <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">res.render(&#039;veggies&#039;, {
  title: &#039;My favorite veggies&#039;,
  veggies: veggies,
  layout: null // render without using a layout template
});</code></pre>
          </div>
        </div>
        <!--end::Highlight-->
      </div>
      <!--end::Code-->
      Layout file resolution.
      <!--begin::Code-->
      <div class="pt-3">
        <!--begin::Highlight-->
        <div class="highlight">
          <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
          <div class="highlight-code">
            <pre class="language-javascript"><code class="language-javascript">If path starts with &#039;.&#039;
  layout is relative to template
Else If `layoutsDir` is set
  layout is relative to `layoutsDir`
Else
  layout from path.resolve(viewsDir, layout)</code></pre>
          </div>
        </div>
        <!--end::Highlight-->
      </div>
      <!--end::Code-->
    </li>
    <li class="py-2">
      Lastly, use defaultLayout if specified in hbs configuration options.<br><br>
      Layouts can be nested: just include a declarative layout tag within any layout template to have its content included in the declared "parent" layout.<br>
      Be aware that too much nesting can impact performances, and stay away from infinite loops.
    </li>
  </ol>
  <!--end::List-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="comparison-helper" data-kt-scroll-offset="100">
    <a href="#comparison-helper"></a>Comparison Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>eq()</code></td>
            <td>
              Determine whether or not two values are equal (===).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the value and type are the same, false if they are different.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: false --}}
\{{eq '3' 3}}

\{{#if (eqw foo 'bar')}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>eqw()</code></td>
            <td>
              Determine whether or not two values are equal (==) i.e. weak checking.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the values are the same, false if they are different.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{eqw &#039;3&#039; 3}}

\{{#if (eqw foo &#039;bar&#039;)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>neq()</code></td>
            <td>
              Determine whether or not two values are not equal (!==).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the value and type are different, false if they are the same.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{neq 4 3}}

\{{#if (neq foo &#039;bar&#039;)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>neqw()</code></td>
            <td>
              Determine whether or not two values are not equal (!=) weak checking.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.A</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the values are different, false if they are the same.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: false --}}
\{{neqw &#039;3&#039; 3}}

\{{#if (neqw foo &#039;bar&#039;)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>lt()</code></td>
            <td>
              Check for less than condition (a < b).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the first value is less than the second value, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{lt 2 3}}

\{{#if (lt 2 5)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>lte()</code></td>
            <td>
              Check for less than or equals condition (a <= b).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the first value is less than or equal to the second value, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{lte 2 3}}

\{{#if (lte 2 5)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>gt()</code></td>
            <td>
              Check for greater than condition (a > b).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the first value exceeds the second value, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: false --}}
\{{gt 2 3}}

\{{#if (gt 5 6)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>gte()</code></td>
            <td>
              Check for greater than or equals condition (a >= b).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be compared with second.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be compared with first.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the first value is greater than or equal to the second value, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{gte 3 3}}

\{{#if (gte 10 2)}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>not()</code></td>
            <td>
              Logical NOT of any expression.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Any expression.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns the logical negation of the value.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: false --}}
\{{not true}}

\{{!-- results in: true --}}
\{{not false}}

\{{#if (not (eq foo &#039;bar&#039;))}}
  Hello
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>ifx()</code></td>
            <td>
              Helper to imitate the ternary &#039;?:&#039; conditional operator.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>condition: boolean</code>
                  <!--begin::Block-->
                  <div class="pt-3">Satisfying condition for getting first value. Either true of false.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val1: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">First value to be displayed as result.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Second value to be displayed as result. Defaults to an empty string.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>any</code> Returns the result of the ternary operator.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: foo --}}
\{{ifx true &#039;foo&#039; &#039;bar&#039;}}

\{{!-- results in: bar --}}
\{{ifx false &#039;foo&#039; &#039;bar&#039;}}

\{{!-- results in: 6 --}}
\{{ifx (eq value 1) 5 6}}

\{{!-- results in: 6 --}}
\{{ifx (not (eq value 1)) 5 6}}

\{{!-- The third parameter is optional, and by default it will be blank string (&#039;&#039;) --}}
\{{!-- results in: active --}}
\{{ifx true &#039;active&#039;}}

\{{!-- results in: &#039;&#039; --}}
\{{ifx false &#039;active&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>empty()</code></td>
            <td>
              Check if it is empty.<br>
              If the value is an array, returns true if there are no elements.<br>
              If the value is a string, the leading and trailing spaces are trimmed and then checked.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>value: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Character strings, arrays, objects, etc. to be checked.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the value is empty, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: false --}}
\{{empty [5, 6]}}

\{{#if (empty &#039;foo&#039;)}}
  Hello
\{{/if}}

\{{!-- results in: false --}}
\{{empty &#039;Hello&#039;}}

\{{!-- results in: true --}}
\{{empty &#039;&#039;}}

\{{!-- results in: true --}}
\{{empty &#039; &#039;}}</code></pre>
                </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>notEmpty()</code></td>
            <td>
              Check that it is not empty.<br>
              If the value is an array, returns true if there is an element.<br>
              If the value is a string, the leading and trailing spaces are trimmed and then checked.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Character strings, arrays, objects, etc. to be checked.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the value is not empty, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{notEmpty [5, 6]}}

\{{#if (notEmpty &#039;foo&#039;)}}
  Hello
\{{/if}}

\{{!-- results in: true --}}
\{{notEmpty &#039;Hello&#039;}}

\{{!-- results in: false --}}
\{{notEmpty &#039;&#039;}}

\{{!-- results in: false --}}
\{{notEmpty &#039; &#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>count()</code></td>
            <td>
              Determine the length of an array.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>items: any[]</code>
                  <!--begin::Block-->
                  <div class="pt-3">Array whose elements to be counted.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number|false</code> Returns the length of the array if the value is an array, false if the value is not an array.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 2 --}}
\{{count [5, 6]}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>and()</code></td>
            <td>
              Returns the boolean AND of two or more parameters passed i.e it is true iff all the parameters are true.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>...params: any[]</code>
                  <!--begin::Block-->
                  <div class="pt-3">Any number of boolean parameters.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns the result of the logical product.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{and true true}}

\{{!-- results in: false --}}
\{{and false true}}

\{{#if (and value1 value2)}}
  \{{!-- do something --}}
\{{else}}
  \{{!-- do something else --}}
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>or()</code></td>
            <td>
              Returns the boolean OR of two or more parameters passed i.e it is true if any of the parameters is true.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>...params: any[]</code>
                  <!--begin::Block-->
                  <div class="pt-3">Any number of boolean parameters.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns the result of the OR.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{or true false}}

\{{!-- results in: false --}}
\{{or false false}}

\{{#if (or value1 value2)}}
  \{{!-- do something --}}
\{{else}}
  \{{!-- do something else --}}
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>coalesce()</code></td>
            <td>
              Returns the first non-falsy value from the parameter list.<br>
              Works quite similar to the SQL&#039;s <code>COALESCE()</code> function, but unlike this checks for the first non-false parameter.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>...params: any[]</code>
                  <!--begin::Block-->
                  <div class="pt-3">Any number of parameters.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>any</code> Returns the first non-false element of the parameter.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: foo bar --}}
\{{coalesce &#039;foo bar&#039; &#039;foob&#039; &#039;unknown&#039;}}

\{{!-- results in: foob --}}
\{{coalesce &#039;&#039; &#039;foob&#039; &#039;unknown&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>includes()</code></td>
            <td>
              Returns boolean if the array contains the element strictly or non-strictly.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>items: any[]</code>
                  <!--begin::Block-->
                  <div class="pt-3">The array.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">The value to be checked for existence in the array.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>strict: boolean</code>
                  <!--begin::Block-->
                  <div class="pt-3">FALSE for non-strict checking. TRUE by default.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> Returns true if the array contains the specified value, false otherwise.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{includes [1, 2, 3] 2}}

\{{!-- results in: false --}}
\{{includes [1, 2, 3] &#039;2&#039;}}

\{{!-- results in: false --}}
\{{includes [1, 2, 3] &#039;2&#039; true}}

\{{!-- results in: true --}}
\{{includes [1, 2, 3] &#039;2&#039; false}}

\{{#if (includes [1, 2, 3] &#039;2&#039;)}}
   \{{!-- Do something --}}
\{{/if}}

\{{ifx (includes [1, 2, 3] &#039;2&#039;) &#039;yes&#039; &#039;no&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>regexMatch()</code></td>
            <td>
              Returns true if the given str matches the given regex.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The string against which to match the regular expression.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>pattern: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The text of the regular expression.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>flags?: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Regular expression flags, such as global and case-insensitive searches. The default is none (undefined).</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>boolean</code> true if there is a match between the regular expression and the string str. Otherwise, false.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: true --}}
\{{regexMatch &#039;foobar&#039; &#039;foo&#039;}}

\{{!-- results in: false --}}
\{{regexMatch &#039;bar&#039; &#039;foo&#039;}}

\{{!-- results in: false --}}
\{{regexMatch &#039;foobar&#039; &#039;^foo$&#039;}}

\{{!-- results in: true --}}
\{{regexMatch &#039;Visit Here&#039; &#039;here&#039; &#039;i&#039;}}

\{{!-- results in: false --}}
\{{regexMatch &#039;Visit Here&#039; &#039;here&#039;}}

\{{!-- results in: Match --}}
\{{#if (regexMatch &#039;foobar&#039; &#039;foo&#039;)}}
  Match
\{{/if}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="html-helper" data-kt-scroll-offset="100">
    <a href="#html-helper"></a>HTML Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>cacheBusting()</code></td>
            <td>
              Returns the Assets path containing the file update time parameter.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>filePath: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Paths of Assets files such as CSS and JS in public directories.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>baseUrl: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Application Origin URL. The default is none (<code>undefined</code>).</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string</code> Returns the Assets file path with the update date and time parameters.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: example.com/assets/style.css?1620526340463 --}}
\{{cacheBusting &#039;/assets/style.css&#039; &#039;//example.com&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="object-helper" data-kt-scroll-offset="100">
    <a href="#object-helper"></a>Object Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>jsonStringify()</code></td>
            <td>
              Stringify an object using JSON.stringify.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">The value to convert to a JSON string.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>indent: number</code>
                  <!--begin::Block-->
                  <div class="pt-3">The number of space characters to use as whitespace.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string</code> A JSON string representing the given value, or undefined.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{jsonStringify val}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>jsonParse()</code></td>
            <td>
              Parses the given string using JSON.parse.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: any</code>
                  <!--begin::Block-->
                  <div class="pt-3">Object to stringify.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>any</code> JavaScript value or object described by a string.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{jsonParse val}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="string-helper" data-kt-scroll-offset="100">
    <a href="#string-helper"></a>String Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>replace()</code></td>
            <td>
              Returns a new string with some or all matches of a pattern replaced by a replacement.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">String.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>find: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The string to be replaced.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>replace: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The string to replace.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string</code> Character string after replacement.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{replace &#039;The quick brown fox jumps over the lazy dog. If the dog reacted, was it really lazy?&#039; &#039;dog&#039; &#039;monkey&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>split()</code></td>
            <td>
              Split `string` by the given `character`.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">String.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>separator: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">A character that delimits the substrings in this string. Default is a comma.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string[]</code> An Array of strings, split at each point where the separator occurs in the given string. The default is a comma.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: [&#039;a&#039;, &#039;b&#039;, &#039;c&#039;] --}}
\{{split &quot;a,b,c&quot; &quot;,&quot;}}

\{{!-- results in: &lt;div&gt;a&lt;/div&gt;&lt;div&gt;b&lt;/div&gt;&lt;div&gt;c&lt;/div&gt; --}}
\{{#each (split list &#039;,&#039;)}}
  &lt;div&gt;\{{this}}&lt;/div&gt;
\{{/each}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>formatBytes()</code></td>
            <td>
              Convert bytes to just the right units(KB, MB, GB, TB, PB, EB, ZB, YB).
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>bytes: number</code>
                  <!--begin::Block-->
                  <div class="pt-3">Bytes.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>decimals?: number</code>
                  <!--begin::Block-->
                  <div class="pt-3">Number of decimal places to display. Default is 0.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string</code> Returns a value with units.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 1 KB --}}
\{{formatBytes 1024}}

\{{!-- results in: 1.21 KB --}}
\{{formatBytes 1234 2}}

\{{!-- results in: 1.205 KB --}}
\{{formatBytes 1234 3}}

\{{!-- results in: 0 Bytes --}}
\{{formatBytes 0}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="date-helper" data-kt-scroll-offset="100">
    <a href="#date-helper"></a>Date Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>formatDate()</code></td>
            <td>
              Use moment to format the date.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>format: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">A format string based on moment.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>date: string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Date string to format.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>locale: string|string[]</code>
                  <!--begin::Block-->
                  <div class="pt-3">
                    Language or language-country locale string (or array of strings) available in <a href="https://github.com/moment/moment/tree/develop/locale" class="fw-semibold" target="_blank">https://github.com/moment/moment/tree/develop/locale</a>.
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string</code> Returns formatted date.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 2021/10/24 --}}
\{{formatDate &#039;YYYY/MM/DD&#039; &quot;2021-10-24T02:13:06.610Z&quot;}}

\{{!-- results in: 2021/10/24 --}}
\{{formatDate &#039;YYYY/MM/DD&#039; &quot;2021-10-24T02:13:06.610Z&quot; &#039;jp&#039;}}

\{{!-- results in: 2021/10/24 --}}
\{{formatDate &#039;YYYY/MM/DD&#039; &quot;2021-10-24T02:13:06.610Z&quot; &#039;es&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="number-helper" data-kt-scroll-offset="100">
    <a href="#number-helper"></a>Number Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>number2locale()</code></td>
            <td>
              Returns the language-sensitive representation of a number as a string.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Target number or numeric string.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>locales: string|undefined</code> 
                  <!--begin::Block-->
                  <div class="pt-3">
                    A string with a BCP 47 language tag, or an array of such strings.<br>
                    Corresponds to the <a href="/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat/NumberFormat#locales" target="_blank">locales</a> parameter of the Intl.NumberFormat() constructor.<br>
                    In implementations without Intl.NumberFormat support, this parameter is ignored and the host's locale is usually used.
                  </div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>string</code> A string with a language-sensitive representation of the given number.</li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 123,456.789 --}}
\{{number2locale 123456.789}}

\{{!-- German uses comma as decimal separator and period for thousands. --}}
\{{!-- results in: 123.456,789 --}}
\{{number2locale 123456.789 &#039;de-DE&#039;}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->
<!--begin::Section-->
<div class="pb-10">
  <!--begin::Heading-->
  <h1 class="anchor fw-bold mb-5" id="math-helper" data-kt-scroll-offset="100">
    <a href="#math-helper"></a>Math Helper
  </h1>
  <!--end::Heading-->
  <!--begin::Block-->
  <div class="my-5">
    <!--begin::Table wrapper-->
    <div class="table-responsive">
      <!--begin::Table-->
      <table class="table table-row-bordered mb-0 gy-5">
        <!--begin::Head-->
        <thead>
          <tr class="p-6">
            <th class="min-w-250px">Function</th>
            <th>Description</th>
          </tr>
        </thead>
        <!--end::Head-->
        <!--begin::Body-->
        <tbody>
          <tr>
            <td><code>add()</code></td>
            <td>
              Calculates the sum of two numbers.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The first number.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The second number.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 3 --}}
\{{add 1 2}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>sub()</code></td>
            <td>
              Calculates the difference of the given values.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The first number.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The second number.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 3 --}}
\{{sub 5 2}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>multiply()</code></td>
            <td>
              Calculate the multiplication of the given values.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The first number.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The second number.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 10 --}}
\{{multiply 5 2}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>divide()</code></td>
            <td>
              Compute the division of the given values.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val1: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The first number.</div>
                  <!--end::Block-->
                </li>
                <li class="py-2"><code>val2: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">The second number.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 5 --}}
\{{divide 10 2}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>ceil()</code></td>
            <td>
              Round up the value.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Number to be rounded to nearest greater integer.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 6 --}}
\{{ceil 5.6}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>floor()</code></td>
            <td>
              Rounds down a number.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Number to be rounded to nearest lower integer.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 5 --}}
\{{floor 5.6}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
          <tr>
            <td><code>abs()</code></td>
            <td>
              Returns an absolute value.
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Parameters:</h5>
              <!--end::Heading-->
              <!--begin::Parameters-->
              <ul>
                <li class="py-2"><code>val: number|string</code>
                  <!--begin::Block-->
                  <div class="pt-3">Number to perform absolute value operation on.</div>
                  <!--end::Block-->
                </li>
              </ul>
              <!--end::Parameters-->
              <!--begin::Heading-->
              <h5 class="py-2 mb-0">Return:</h5>
              <!--end::Heading-->
              <!--begin::Return-->
              <ul class="list-style-none">
                <li class="py-2"><code>number</code></li>
              </ul>
              <!--end::Return-->
              <!--begin::Code-->
              <div class="pt-3">
                <!--begin::Highlight-->
                <div class="highlight">
                  <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                  <div class="highlight-code">
                    <pre class="language-javascript"><code class="language-javascript">\{{!-- results in: 5.6 --}}
\{{abs -5.6}}</code></pre>
                  </div>
                </div>
                <!--end::Highlight-->
              </div>
              <!--end::Code-->
            </td>
          </tr>
        </tbody>
        <!--end::Body-->
      </table>
      <!--end::Table-->
    </div>
    <!--end::Table wrapper-->
  </div>
  <!--end::Block-->
</div>
<!--end::Section-->